<nav class="nav nav-masthead justify-content-center">
  <%= link_to "Home", root_path, :class => active_class(root_path) %>
  <!-- <%= link_to "About", pages_about_path, :class => active_class(pages_about_path) %> -->
  <!-- <%= link_to "Contact", pages_contact_path, :class => active_class(pages_contact_path) %> -->
  <%= link_to "Login", new_user_session_path, :class => "nav-link" %>
  <%= link_to "Register", new_user_registration_path, :class => "nav-link" %>    
</nav>
