<!DOCTYPE html>
<html>
  <head>
    <title>PrivacyApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'pages', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Privacy Suite</h3>

          <%= render 'pages/landingNav' %>

        </div>
      </header>



    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    </div>
  </body>
</html>
